html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
}

.app {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

textarea {
	width: 100%;
	font-family: monospace;
}